@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.nav {
  display: flex;
  flex-direction: column;
  background-color: #084594;
  position: relative;
  color: white;
}

.navwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;
}

.navcompanycontainer {
  display: flex;
}

.hamburger {
  font-size: 2.5rem;
  cursor: pointer;
}

.companycontainer {
  display: flex;
  flex-direction: column;
}

.headerText1 {
  font-size: 16px;
  margin: 0;
  margin-bottom: 4px;
  font-weight: bold;
}

.contacticon {
  margin-right: 0.5rem;
}

.contactwrapper1 {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #e3e3e3;
  border-bottom: 2px solid #e3e3e3;
  position: relative;

  &::before {
    background: #353b4c;
    content: '';
    width: 90%;
    height: 100%;
    position: absolute;
    -webkit-transform: skew(26deg, 0deg);
    transform: skew(26deg, 0deg);
    top: 0;
    left: -18px;
    background-color: #042857;
    border-bottom: 2px solid #0c6deb;
  }
}

.contactwrapper {
  display: flex;
  align-items: center;
  z-index: 3;
}

.headerText {
  font-size: 12px;
  margin: 0;
}

.gridnav {
  display: flex;
  align-items: center;
}

.wrappertop {
  display: flex;
  margin-left: 1rem;

  >*+* {
    margin-left: 2rem;
  }
}

.contacttop {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contacttop p {
  // text-shadow: 2px 2px 5px black;
}

.contacttop i {
  margin-right: 6px;
  color: #ffffff;
  font-size: 18px;
}

.links ul {
  display: flex;
  align-items: center;
}

.links ul li {
  padding: 1rem;
  list-style: none;
  font-size: 18px;
}

li.button {
  padding: 1rem;
  border: none;
  background-color: #e10019;
  color: white;
  font-size: 18px;
}